
#screen {
    height: 70px;
    width: auto;
    margin-bottom: 30px;
    display: grid;
}

hr {
    border-color: black;
}

#dino-img {
    display: flex;
    justify-content: flex-start;
    width: 80px;
    position: fixed;
}

#human {
    padding-left: 80px;
    width: 30px;
    position: fixed;
    margin-left: auto;
}