
#screen {
    height: 70px;
    width: auto;
    margin-bottom: 30px;
}

hr {
    border-color: black;
}

#dino-img {
    width: 80px;
    position: fixed;
}

#human {
    width: 30px;
    position: fixed;
    left: 350px;
}

.hidden {
    display: none;
}
